# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,dotnetcore

#My Entries:

publish/
mytlp/.idea/

### DotnetCore ###
# .NET Core build folders
bin/
bin/*
bin/Debug/
bin/Debug/*
bin/Debug/net8.0/*
bin/Debug/net8.0/

obj/
obj/Debug/
obj/Debug/*
obj/*
obj/Debug/net8.0/*
obj/Debug/net8.0/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,dotnetcore

